
.App {
  text-align: center;
}

.main {
  margin-top: 20px;
}

.profile img {
  width: 200px;
  border-radius: 50%;
}

/* Header.css */
.header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin-right: 20px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}

/* Footer.css */
.footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Projects.css */
.projects {
  margin-top: 50px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  width: 30%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.project h3 {
  margin-top: 0;
}

.project p {
  margin-bottom: 10px;
}

.project a {
  color: #333;
}
.center{
  text-align: center;
}
.habilidades-lista {
  list-style-position: inside;
}